.*.swp
\#*#
*.pyc
*.o
*.hi
*.dump
*.log
*.rej
*.orig
*.patch
*.diff

/docs/doxygen/
/docs/epydoc/
/obj/
/obj.*/
/src/config.h
/private/
/scripts/localconfig.py
TAGS
tags
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

migrate-performance/migrate-performance
split-and-migrate/split-and-migrate
